:root{
	/*cores*/
	--color1: #883AE1;
	--color2: #E6D6FC;
	--color3: #E5EAF0;
	--color4: #FAFAF9;
	--color5: #FFFFFF;
	--color6: #20293A;
	--color7: #6C727F;
	
	
	/* fontes */
	--fonte-padrao: 'Sora', sans-serif;
}	



